appdirs==1.4.3
asgiref==3.2.7
certifi==2019.11.28
distlib==0.3.0
Django==3.1.13
django-session-timeout==0.0.4
filelock==3.0.12
importlib-metadata==1.5.0
importlib-resources==1.0.2
numpy==1.18.4
pandas==1.0.3
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
SQLAlchemy==1.2.18
sqlparse==0.3.1
virtualenv==20.0.6
whitenoise==4.1.4
zipp==3.0.0