<! html page with search results for amplicon !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
   <a class="active" href="{% url 'retesting' %}">Primers in Retesting</a>
 </div> 
  <h1>Primer Database: Amplicon {{ amplicon.amplicon_name }}</h1>
  <p> The following page provides a record of all OMGL primers associated with amplicon {{ amplicon.amplicon_name }}. To <strong>reorder</strong> one or more of the below primers, <strong>select the box</strong> next to the primer and use the 'reorder' option at the bottom of the page. To order a <strong>new version</strong> of a primer for this amplicon, select the 'order new version' option at the bottom of the page:<br><br><br>
  {% for p in primer %}
    <table class="table2" style="table-layout: fixed; width: 100%">
    <form action="{% url 'reorder_archive_primer' %}" method="POST">  
      <tr>
        <td>
            <strong>Primer:</strong>
          <td>
            {{ p.name }}
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            {% if p.order_status == 'Stocked' %}
            <input type="checkbox" name="primer" id="primer" value="{{ p.id }}">
            {% endif %}
          </td>
      <tr>
      <tr>
        <td>
            <strong>Order Status:</strong>
          <td>
            {{ p.order_status }}
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
      <tr>
        <td>
          <strong>Analysis</strong>:
        </td>
        <td>
          {{ p.amplicon_id.analysis_type_id.analysis_type }}
        </td>
        <td>
          <strong>Gene</strong>:
        </td>
        <td>
          {{ p.amplicon_id.gene_id.gene_name }}
        </td>
        <td>
          <strong>Chromosome</strong>:
        </td>
        <td>
          {{ p.amplicon_id.gene_id.chromosome }}
        </td>
      <tr>
        <td>
          <strong>Exon</strong>:
        </td>
        <td>
          {{ p.amplicon_id.exon }}
        </td>
        <td>
          <strong>Direction</strong>:
        </td>
        <td>
          {{ p.direction }}
        </td>
        <td>
          <strong>Start</strong>:
        </td>
        <td>
          {{ p.genomic_location_start }}
        </td>
      <tr>
        <td>
          <strong>End</strong>:
        </td>
        <td>
          {{ p.genomic_location_end }}
        </td>
        <td>
          <strong>Set</strong>:
        </td>
        <td>
          {{ p.amplicon_id.primer_set_id.primer_set }}
        </td>
        <td>
          <strong>Location</strong>:
        </td>
        <td>
          {{ p.location }}
        </td>
      <tr>
        <td>
          <strong>Sequence</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ p.sequence }}
        </td>
        <td>
          <strong>NGS Audit Number</strong>:
        </td>
        <td>
          {{ p.ngs_audit_number }}
        </td>
        <td>
          <strong>Imported By</strong>:
        </td>
        <td>
          {{ p.imported_by_id.imported_by }}
        </td>
      <tr>
        <td>
          <strong>Date Imported</strong>:
        </td>
        <td>
          {{ p.date_imported }}
        </td>
        <td>
          <strong>Amplicon Name</strong>:
        </td>
        <td>
          {{ p.amplicon_id.amplicon_name }}
        </td>
        <td>
          <strong>Alternative Name</strong>:
        </td>
        <td>
          {{ p.alt_name }}
        </td>
      </tr>
      <tr>
        <td>
          <strong>Version:</strong>
        </td>
        <td>
          {{ p.version }}
          </td>
          {% if p.order_status == "Archived" %}
          <td>
          <strong>Archived By:</strong>
          </td>
          <td>
          {{ p.archived_by_id.imported_by }}
          </td>
          <td>
          <strong>Date Archived:</strong>
          </td>
          <td>
          {{ p.date_archived }}
          </td>
        </tr>
      </table><br>
      <p><strong>Reason Archived: </strong> {{ p.reason_archived }}</p>
      {% else %}
        </tr>
      </table><br>
      {% endif %}
    <p><strong>Comments:</strong> {{ p.comments }}</p><br><br><br>
  {% endfor %}  
      <p> To <strong>reorder</strong> selected primer(s), please use the drop-down menu to select your initials and then click the 'Reorder Primer(s)' button</p><br>
    Reason for Reorder: 
    <select name="reason_reordered" type="text" required=True>
      <option value="">---</option>
      <option value="Repeat order">Repeat order</option>
      <option value="New gene / version">New gene / version</option>
      <option value="NGS confirmation">NGS confirmation</option>
      <option value="Scientist - R&D">Scientist - R&D</option>
      <option value="Other">Other</option></select>&nbsp;&nbsp;&nbsp;&nbsp;
    Reordered By:
    <select name="imp_by" type="text" required=True>
      <option value="">---</option>
      {% for i in imp_by %}
        {% if i.status == "current" %}
          <option value='{{ i.imported_by }}'>{{ i.imported_by }}</option>
        {% endif %}
      {% endfor %}</select>&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="p1" type="submit" name="reorder" value="Reorder Primer(s)">
    </form>
  <br><br><br><br><p>To <strong>order a new version</strong> of a primer for this amplicon, please use the button below:</p>
  <form action="{% url 'order_to_amplicon' %}" method="POST">
  <button name="amplicon" type="submit" value="{{ amplicon.id }}">Order New Version</button>
  </form>
{% endblock %}


