<!-- html page with search results for amplicon -->

{% extends "base_generic.html" %}

{% block content %}
  {% if stocked_body %}
  <form action="{{ url }}" method="POST">

    {% for table, checked, name in stocked_body %}

    <table class="table2" style="table-layout: fixed; width: 100%">
    <tr>
      <input type="checkbox" name="requests" value="{{ checked }}" style="float: left; margin-top: 5px;>">
        <div style="margin-left: 25px;">
         Check to Reorder {{ name }}
        </div>
      {% for head, text in table %}

          <td>
            <strong>{{ head }}</strong>
          </td>
          <td>{{ text }}</td>

        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 or forloop.counter == 15 or forloop.counter == 18 or forloop.counter == 21 or forloop.counter == 24  %}
          </tr>
          <tr>
        {% endif %}
      {% endfor %}
    <!-- <br><br><br> -->
    {% endfor %}
    </table>
    <p> To <strong>reorder</strong> selected primer(s), Select the Reason for re-oreder and then click the 'Save' button</p>
    Reason for Reorder:
    {% for field in form.visible_fields %}
      {{ field }} {% if field.errors %}{{ field.errors }}{% endif %}
    {% endfor %}
    <br>
    <input type="submit" class="btn btn-success" name="submit" value="save" />
    <a class="btn btn-danger" href="{{ cancelurl }}">cancel</a>
    <!-- <input class="p1" type="submit" name = "reorder" value="Reorder Primer(s)"><br><br> -->
    </form><br><br>
  {% endif %}


<button onclick="myFunction()">Click to Show / Hide Ordered and Archived Primers</button><br>

<div id="myDIV">
  {% if count_stocked == 0 %}
    <p>No records found.</p>
  {% endif %}
  {% if non_stocked_body %}
    {% for table in non_stocked_body %}
    <table class="table2" style="table-layout: fixed; width: 100%">
    <tr>
      {% for head, text in table %}

          <td>
            <strong>{{ head }}</strong>
          </td>
          <td>{{ text }}</td>

        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 or forloop.counter == 15 or forloop.counter == 18 or forloop.counter == 21 or forloop.counter == 24  %}
          </tr>
          <tr>
        {% endif %}
      {% endfor %}
    <br><br><br>
    {% endfor %}
    </table>
  {% endif %}
</div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}
