<div class="container-fluid">



<div >
    <form action="{{ submiturl }}" method="post">
      {% csrf_token %}
      <fieldset><legend>{{ heading }}</legend>
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}
        <table>
        <tr>
        {% for field in form.visible_fields %}

          <td>
            <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}<span class="required" style="color:red">*</span>{% endif %}:</label>
          </td>
          <td> {{ field }} {% if field.errors %}{{ field.errors }}{% endif %}</td>
          {% if forloop.counter == 2 or forloop.counter == 4 %}
            </tr>
            <tr>
          {% endif %}
        {% endfor %}
      </tr>
      </table>
        <input type="submit" class="btn btn-success" name="submit" value="submit" />
        {% for button, style, url in extrabuttons %}<a class="btn btn-{{ style }}" href="{{ url }}">{{ button  }}<a/>{% endfor %}
        <a class="btn btn-danger" href="{{ cancelurl }}">cancel</a>
      </fieldset>
    </form>
</div>
</div>
