 <!-- HTML generic base -->
 <!-- small JS function to check/uncheck all tick boxes on the page -->
 <script>
   var status=new Boolean(false);
   status^=true;
   function ToggleAll(){
     // gets all checkboxes
     var checkboxes = document.querySelectorAll('input[type="checkbox"]')
     // depending on status either checks or unchecks everything
     if (status==0) {
       for (var checkbox of checkboxes){
         checkbox.checked = 1;
       }
     }
     else {
       for (var checkbox of checkboxes){
         checkbox.checked = 0;
       }
     }
     // Inverts the current status
     status^=true;
   }
 </script>
<html>
<html lang="en">
<head>
  {{ form.media.css }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}
  {% endblock meta %}
  {% block title %}<title>Primer Database</title>{% endblock %}
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>

  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <nav class="navbar">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
              <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
              <li><a class="active" href="{% url 'index' %}">Primer Search and Reorders</a></li>
              <li><a class="active" href="{% url 'order' %}">Order New Gene/Version</a></li>
              <li><a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a></li>
              <li><a class="active" href="{% url 'order_placed' %}">Ordered Primers</a></li>
              <li><a class="active" href="{% url 'in_testing_sanger' %}">Primers in Testing: Sanger</a></li>
              <li><a class="active" href="{% url 'in_testing_non_sanger' %}">Primers in Testing: Non-Sanger</a></li>
              <li><a class="active" href="{% url 'failed' %}">Failed Validation</a></li>
              <li><a class="active" href="{% url 'retesting' %}">Retesting</a></li>
            </div>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="dropdown-toggle" data-toggle="dropdown" role="button">
              <span class "glyphicon glyphicon-cog"></span>
              Account Settings
              <span class="caret"></span>
              <ul class="dropdown-menu" style="max-width: 500px;">
                <li><a class="active" href="{% url 'loginview' %}">Logout {{user.username}}</a></li>
                <li><a class="active" href="{% url 'loginview' %}">Logout {{user.username}}</a></li>
              </ul> -->
              <div class="dropdown">

                <button class="dropbtn">
                  Account Settings
                </button>
                <div class="dropdown-content">
                  <li><a class="active" href="{% url 'loginview' %}">Logout {{user.username}}</a></li>
                  <li><a class="active" href="{% url 'change_password' %}">Change Password</a></li>
                </div>
              </ul>
          </div>
        </nav>
        {{ form.media.js }}
          {% block toolbar %}
          {% endblock toolbar %}
          {% if header %}
          <h1>{{ header }}</h1>
          <br>
          {% endif %}
          {% if subheader %}
          <p>{{ subheader | safe }}</p>
          <br>
          {% endif %}
          {% block content %}
          {% endblock content %}</div>
    </div>
  </div>

</body>
</html>
