<!-- html page to display the primers that have been ordered -->

{% extends "base_generic.html" %}

{% block content %}

  <h1>Primer Database: Failed Validation</h1>
  <p> Primer information for primers that have failed validation:<br><br><br><br>
    {% if failed %}<td><input type="button" onclick="ToggleAll()" value="Select/Deselect All"</td>{% endif %}
  {% for t in failed %}
    <table class="table" style="table-layout: auto-fit; width: 100%">
    <form action="{% url 'remove_failed' %}" method="POST">
      <tr>
        <td>
          <strong>Primer ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ t.name }}
        </td>
        <td>
          <strong>Requested By</strong>:
        </td>
        <td>
          {{ t.imported_by_id.imported_by }}
        </td>
        <td>
          <strong>Location</strong>:
        </td>
        <td>
          {{ t.location }}
        </td>
        <td>
          <strong>Worksheet</strong>:
        </td>
        <td>
          {{ t.worksheet_number }}
        </td>
        <td>
          <input type="checkbox" name="primer" id="primer" value="{{ t.id }}" checked="checked">
    </table>
  {% endfor %}<br><br>
  <input class="p1" type="submit" name="discard" value="Discard">
  <input class="p1" type="submit" name="retest" value="Retest">
  </form>
{% endblock %}
