<! html page to display the primers that have been ordered !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
 </div> 
  <h1>Primer Database: Failed Validation</h1>
  <p> Primer information for primers that have failed validation:<br><br><br><br>
  {% for t in failed %}
    <table class="table" style="table-layout: auto-fit; width: 100%">
      <tr>
        <td>
          <strong>Amplicon ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ t.amplicon_id.amplicon_name }}
        </td>
        <td>
          <strong>Direction:</strong>
        </td>
        <td>
          {{ t.direction }}
        </td>
        <td>
          <strong>Imported By</strong>:
        </td>
        <td>
          {{ t.imported_by_id.imported_by }}
        </td>
    </table>
  {% endfor %}<br><br>    
{% endblock %}


