<! html page to display the primers that have been ordered !>

{% extends "base_generic.html" %}

{% block content %}

  <h1>Primer Database: Primers in Testing - Sanger</h1>
  <p> Primer information for primers in testing. Remember to <strong>update location</strong> before validating.<br><br><br><br>
  {% for t in testing %}
    <table class="table" style="table-layout: auto-fit; width: 100%; cellspacing: 20px">
    <form action="{% url 'tested' %}" method="POST">
      <tr>
        <td>
          <strong>Primer ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ t.name }}
        </td>
        <td>
          <strong>Comments</strong>:
        </td>
        <td>
          {{ t.comments }}
        </td>
        <td>
          <strong>Worksheet</strong>:
        </td>
        <td>
          <textarea name="worksheet" type="text" rows="2" cols="8">{{ t.worksheet_number }}</textarea><br>
          <input type="hidden" id="all_primers" name="all_primers" value="{{ t.id }}">
        </td>
        <td>
          <strong>Location</strong>:
        </td>
        <td>
          <textarea name="location" type="text" rows="2" cols="8">{{ t.location }}</textarea><br>
        </td>
        <td>
          <input type="checkbox" name="primer" id="primer" value="{{ t.id }}" checked="checked">
        </td>
    </table>
  {% endfor %}<br><br>
      <input class="p1" type="submit" name="save" value="Save changes">
      <input class="p1" type="submit" name="export" value="Export Name and Sequence">
      <input class="p1" type="submit" name="validated" value="Validated">
      <input class="p1" type="submit" name="not" value="Not Validated">
    </form>
{% endblock %}
