<! index page for the primer database - acts as a search endgine to look up primers and amplicons !>

{% extends "base_generic.html" %}
{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
   <a class="active" href="{% url 'retesting' %}">Primers in Testing</a>
 </div> 
  <h1>Primer Database</h1><br>
  <p>Welcome to the Primer Database for the OUH Molecular Genetics Laboratory. We currently have <strong>{{ num_primers }}</strong> primers covering <strong>{{ num_amplicons }}</strong> amplicons and <strong>{{ num_genes }}</strong> genes. Fill in one or more boxes in the form below to search for primers: </p><br>
  <div>
    <form class="SearchForm" method="get" action="{% url 'search' %}">
      <table>
        <tr>
          <td>
          </td>
          <td>
            Amplicon ID:
          </td>
          <td colspan="4">
            <input id="searchbox" name="amp_id_input" type="text"><br>
          </td>
          <td>
          </td>
          <td>
      Genomic Location:
          </td>
          <td colspan="4">
      <input id="searchbox" name="gen_loc_input" type="text"><br>
          <td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
      Gene:
          </td>
          <td colspan="4">
      <input id="searchbox" name="gene_input" type="text"><br>
          </td>
          <td>
          </td>
          <td>
      Chromosome:
          </td>
          <td colspan="4">
      <input id="searchbox" name="chr_input" type="text"><br>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
      Imported By:
          </td>
          <td colspan="4">
      <select name="imp_by_input" type="text">
        <option value="">---</option>
        {% for i in imp_by %}
          <option value='{{ i.imported_by }}'>{{ i.imported_by }}</option>
        {% endfor %}
          </td>
          <td>
          </td>
          <td>
      Date Imported:
          </td>
          <td colspan="4">
      <input id="searchbox" name="date_input" type="text"><br>
          </td>
        <tr>
          <td>
          </td>
          <td>
      Analysis Type:
          </td>
          <td colspan="4">
      <select name="analysis_input" type="text"><br>
        <option value="">Select</option>
        <option value="NGS">NGS</option>
        <option value="Sanger">Sanger</option>
        <option value="Other">Other</option>
          </td>
          <td>
          </td>
          <td>
      Primer Set:
          </td>
          <td colspan="4">
      <select name="set_input" type="text"><br>
        <option value="">Select</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="Other">Other</option>
          </td>
        </tr>
      </table><br><br>
      <input class="p1" type="submit" value="Search">
    </form>
  </div>
{% endblock %}



