<! index page for the primer database - acts as a search endgine to look up primers and amplicons !>

{% extends "base_generic.html" %}
{% block content %}
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a class="active" href="{% url 'index' %}">Primer Search and Reorders</a>
    <a class="active" href="{% url 'order' %}">Order New Gene/Version</a>
    <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
    <a class="active" href="{% url 'order_placed' %}">Ordered Primers</a>
    <a class="active" href="{% url 'in_testing_sanger' %}">Primers in Testing: Sanger</a>
    <a class="active" href="{% url 'in_testing_non_sanger' %}">Primers in Testing: Non-Sanger</a>
    <a class="active" href="{% url 'failed' %}">Failed Validation</a>
    <a class="active" href="{% url 'retesting' %}">Retesting</a>
  </div>
</div><br><br> 
  <h1>Primer Database: Search and Reorders</h1><br>
  <p>Welcome to the Primer Database for the OUH Molecular Genetics Laboratory. We currently have <strong>{{ num_primers }}</strong> primers covering <strong>{{ num_amplicons }}</strong> amplicons and <strong>{{ num_genes }}</strong> genes. Fill in one or more boxes in the form below to search for primers: </p><br>
  <div>
    <form class="SearchForm" method="get" action="{% url 'search' %}">
      <table>
        <tr>
          <td>
          </td>
          <td>
            Amplicon ID:
          </td>
          <td colspan="4">
            <input id="searchbox" name="amp_id_input" type="text"><br>
          </td>
          <td>
          </td>
          <td>
      Gene:
          </td>
          <td colspan="4">
      <input id="searchbox" name="gene_input" type="text"><br>
          <td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
      Chromosome:
          </td>
          <td colspan="4">
      <input id="searchbox" name="chr_input" type="text"><br>
          </td>
          <td>
          </td>
          <td>
      Analysis Type:
          </td>
          <td colspan="4">
      <select name="analysis_input" type="text"><br>
        <option value="">Select</option>
        {% for a in analysis_type %}
        <option value="{{ a.analysis_type }}">{{ a.analysis_type }}</option>
        {% endfor %}
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
      Primer Set:
          </td>
          <td colspan="4">
      <select name="set_input" type="text"><br>
        <option value="">Select</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="Other">Other</option>
          </td>
          <td>
          </td>
          <td>
      Alt Name:
          </td>
          <td colspan="4">
      <input id="searchbox" name="alt_input" type="text"><br>
          </td>
        </tr>
      </table><br><br>
      <input class="p1" type="submit" value="Search">
    </form>
  </div>
{% endblock %}



