<!-- html page to confirm the ordering of a primer -->

{% extends "base_generic.html" %}

{% block content %}
  <form action="{% url 'location_updated' %}" method="POST">
    <table class="table" style="table-layout: auto-fit; width: 100%">
     <tr>
       {% for entry in headers %}
         <th scope="col">{{ entry }}</th>
       {% endfor %}
      </tr>
      {% for row, location, primer_id in body %}
        <tr>
         {% for entry in row %}
         <td>
           {{ entry }}
         </td>
         {% endfor %}
         <td>
          <input type="text" name="location" value="{{ location }}">
          <input type="hidden" id="primer" name="primer" value="{{ primer_id }}">
        </td>
        </tr>
      {% endfor %}

    </table>
  <br><br>
    <input class=p1 type="submit" value="Submit">
    </form>
{% endblock %}
