<!-- html page to order new primers -->

{% extends "base_generic.html" %}

{% block content %}

  <form action="{{ submitur }}" method="POST">
    <table>
    <tr>
    {% for field in amplicon_form.visible_fields %}
      <tr>
      <td>
        <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}<span class="required" style="color:red">*</span>{% endif %}:</label>
      </td>
      <td> {{ field }} {% if field.errors %}{{ field.errors }}{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
    {% for n in number %}
    <strong><p>Primer</p></strong><br>
    <table>
    <tr>
    {% for field in primer_form.visible_fields %}
      <tr>
      <td>
        <label for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}<span class="required" style="color:red">*</span>{% endif %}:</label>
      </td>
      <td> {{ field }} {% if field.errors %}{{ field.errors }}{% endif %}</td>
      </tr>
    {% endfor %}
  </table><br><br>
    {% endfor %}
    <input type="submit" class="btn btn-success" name="quit" value="Submit and Quit" />
    <input type="submit" class="btn btn-success" name="reorder" value="Submit and Reorder" />
    <a class="btn btn-danger" href="{{ cancelurl }}">cancel</a>
  </form>
{% endblock %}
