<!-- html page to order new primers -->

{% extends "base_generic.html" %}

{% block content %}

  <h1>Primer Database: New Primer Order</h1>
  <p> The following form facilitates the ordering of one or more <strong>new</strong> primers associated with a <strong>single amplicon set</strong>. To <strong>reorder</strong> a primer, please first use the <a class="active" href="{% url 'index' %}">search</a> function and then follow the appropriate links. </p><br><br>
  <form action="{% url 'order_form' %}" method="GET">
    <table>
      <tr>
        <td>
        </td>
        <td>
        How many primers would you like to order for your amplicon <strong>set</strong>?
        </td>
        <td>
        <input name="number" type="number" required>
        </td>
        <td>
          <input class="p1" type="submit" value="Submit">
        </td>
      </tr>
    </table>
  </form>
{% endblock %}
