<!-- html page to display the primers that have been ordered -->

{% extends "base_generic.html" %}

{% block content %}

  <h1>Primer Database: Ordered Primers</h1>
  <p> Primer information for primers on order:<br><br><br><br>
    {% if ordered %}<td><input type="button" onclick="ToggleAll()" value="Select/Deselect All"</td>{% endif %}
  {% for p in ordered %}
    <table class="table" style="table-layout: auto-fit; width: 100%">
    <form action="{% url 'order_recieved' %}" method="POST">
      <tr>
        <td>
          <strong>Primer ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ p.name }}
        </td>
        <td>
          <strong>Reason Ordered:</strong>
        </td>
        <td>
          {{ p.reason_ordered }}
        </td>
        <td>
          <strong>Requested By</strong>:
        </td>
        <td>
          {{ p.imported_by_id.imported_by }}
        </td>
        <td>
          <input type="checkbox" name="primer" id="primer" value="{{ p.id }}" checked="checked">
        </td>
    </table>
  {% endfor %}<br><br>
      <input class="p1" type="submit" name="test_sanger" value="Testing Required: Sanger">
      <input class="p1" type="submit" name="test_non_sanger" value="Testing Required: Non-Sanger">
      <input class="p1" type="submit" name="stock" value="Testing Not Required">
    </form>
{% endblock %}
