<! html page to display the primers that have been ordered !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
 </div> 
  <h1>Primer Database: Primers on Order</h1>
  <p> Primer information for primers on order:<br><br><br><br>
  {% for p in ordered %}
    <table class="table" style="table-layout: auto-fit; width: 100%">
    <form action="{% url 'order_recieved' %}" method="POST">
      <tr>
        <td>
          <strong>Amplicon ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ p.amplicon_id.amplicon_name }}
        </td>
        <td>
          <strong>Direction:</strong>
        </td>
        <td>
          {{ p.direction }}
        </td>
        <td>
          <strong>Imported By</strong>:
        </td>
        <td>
          {{ p.imported_by_id.imported_by }}
        </td>
        <td>
          Location:
        </td>
        <td>
        <input type="text" name="location">
	</td>
        <td>
          <input type="checkbox" name="primer" id="primer" value="{{ p.id }}">
        </td>
    </table>
  {% endfor %}<br><br>   
      <input class="p1" type="submit" name="test" value="Recieved: Testing Required">
      <input class="p1" type="submit" name="stock" value="Recieved: Testing Not Required">
    </form>  
{% endblock %}


