<! html page to order new primers !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers on Order</a>
 </div> 
  <h1>Primer Database</h1>
  <p> Fill in the form below to order one or more <strong>new</strong> primers associated with a single amplicon. Fill in the amplicon information first, then complete the tables for one, two or three primers as appropriate. <br><br> To <strong>reorder</strong> a primer or to order an <strong>additional</strong> primer for an amplicon, please first use the <a class="active" href="{% url 'index' %}">search</a> function and then follow the appropriate links. </p><br>
  <form action="{% url 'submitted' %}" method="POST">
  <strong><p>Amplicon (Required)</p></strong><br>
    <table>
      </tr>
      <tr>
        <td>
        Amplicon Name:
        </td>
        <td>
        <input name="amplicon" type="text">
        </td>
      </tr>
    <tr>
      <td>
      Analysis Type (Required):
      </td>
      <td>
        <select name = "analysis_type" type = "text">
          <option value="NGS">NGS</option>
          <option value="Sanger">Sanger</option>
          <option value="MLPA">MLPA</option>
          <option value="Long-Range">Long Range</option>
          <option value="Taqman">Taqman</option>
          <option value="RT-PCR">RT-PCR</option>
          <option value="Pyrosequencing">Pyrosequencing</option>
          <option value="ARMS: Mutant">ARMS: Mutant</option>
          <option value="ARMS: Normal">ARMS: Normal</option>
        </td>
      </tr>
      <tr>
        <td>
        Gene (Required):
        </td>
        <td>
        <input name="gene" type="text" required>
        </td>
      </tr>
      <tr>
        <td>
        Chromosome (Required):
        </td>
        <td>
        <input name="chr" type="text" required>
        </td>
      </tr>
      <tr>
        <td>
        Exon:
        </td>
        <td>
        <input name="exon" type="text">
        </td>
      </tr>
      <tr>
        <td>
        Primer Set: 
        </td>
        <td>
        <select name="set" type="text">
          <option value="">Select</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="Other">Other</option>
        </td>
      </tr>
      <tr>
        <td>
        Imported by (initials): 
        </td>
        <td>
        <select name="imp_by" type="text">
          {% for i in imp_by %}
            <option value='{{ i.imported_by }}'>{{ i.imported_by }}</option>
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
        Comments:
        </td>
        <td>
        <input name="comments" type="text">
        </td>
      </tr>
    </table><br><br>
    <strong><p>Primer 1 (Required)</p></strong><br>
    <table>
      <tr>
        <td>
        Sequence (Required):
        </td>
        <td>
        <input name="seq" type="text" required>
        </td>
      </tr>
      <tr>
        <td>
        Direction:
        </td>
        <td>
        <select name="direction" type="text">
          <option value="f">F</option>
          <option value="r">R</otion>
          <option value="t">T</otion>
          <option value="left">Left</otion>
          <option value="right">Right</otion>
          <option value="s">S</otion>
        </td>
      </tr>
      <tr>
        <td>
        Genomic Location Start:
        </td>
        <td>
        <input name="start" type="number">
        </td>
      </tr>
      <tr>
        <td>
        Genomic Location End:
        </td>
        <td>
        <input name="end" type="number">
        </td>
      </tr>
      <tr>
        <td>
        NGS Number (if applicable):
        </td>
        <td>
        <input name="ngs" type="number">
        </td>
      </tr>
      <tr>
        <td>
        Alternative Name: 
        </td>
        <td>
        <input name="alt_name" type="text">
        </td>
      </tr>
      <tr>
        <td>
        Version Number:
        </td>
        <td>
        <input name="version" type="number" placeholder="1">
        </td>
      </tr>
    </table><br><br>
    <strong><p>Primer 2 (Optional)</p></strong>
    <p>Note: As the order of additional primers is optional, the form will submit without the below sequence field completed. However, the field must be completed for an additional primer to be ordered.</p><br>
    <table>
      <tr>
        <td>
        Sequence (Required):
        </td>
        <td>
        <input name="seq2" type="text">
        </td>
      </tr>
      <tr>
        <td>
        Direction:
        </td>
        <td>
        <select name="direction2" type="text">
          <option value="">Select</option>
          <option value="f">F</option>
          <option value="r">R</otion>
          <option value="t">T</otion>
          <option value="left">Left</otion>
          <option value="right">Right</otion>
          <option value="s">S</otion>
        </td>
      </tr>
      <tr>
        <td>
        Genomic Location Start:
        </td>
        <td>
        <input name="start2" type="number">
        </td>
      </tr>
      <tr>
        <td>
        Genomic Location End:
        </td>
        <td>
        <input name="end2" type="number">
        </td>
      </tr>
      <tr>
        <td>
        NGS Number (if applicable):
        </td>
        <td>
        <input name="ngs2" type="number">
        </td>
      </tr>
      <tr>
        <td>
        Alternative Name: 
        </td>
        <td>
        <input name="alt_name2" type="text">
        </td>
      </tr>
      <tr>
        <td>
        Version Number:
        </td>
        <td>
        <input name="version2" type="number" placeholder="1">
        </td>
      </tr>
    </table><br><br>
    <strong><p>Primer 3 (Optional)</p></strong>
    <p>Note: As the order of additional primers is optional, the form will submit without the below sequence field completed. However, the field must be completed for an additional primer to be ordered.</p><br>
    <table>
      <tr>
        <td>
        Sequence (Required):
        </td>
        <td>
        <input name="seq3" type="text">
        </td>
      </tr>
      <tr>
        <td>
        Direction:
        </td>
        <td>
        <select name="direction3" type="text">
          <option value="">Select</option>
          <option value="f">F</option>
          <option value="r">R</otion>
          <option value="t">T</otion>
          <option value="left">Left</otion>
          <option value="right">Right</otion>
          <option value="s">S</otion>
        </td>
      </tr>
      <tr>
        <td>
        Genomic Location Start:
        </td>
        <td>
        <input name="start3" type="number">
        </td>
      </tr>
      <tr>
        <td>
        Genomic Location End:
        </td>
        <td>
        <input name="end3" type="number">
        </td>
      </tr>
      <tr>
        <td>
        NGS Number (if applicable):
        </td>
        <td>
        <input name="ngs3" type="number">
        </td>
      </tr>
      <tr>
        <td>
        Alternative Name: 
        </td>
        <td>
        <input name="alt_name3" type="text">
        </td>
      </tr>
      <tr>
        <td>
        Version Number:
        </td>
        <td>
        <input name="version3" type="number" placeholder="1">
        </td>
      </tr>
    </table><br><br>
  <input class="p1" type="submit" name="quit" value="Submit and Quit">   
  <input class="p1" type="submit" name="reload" value="Submit and Order More Primers">           
  </form>
{% endblock %}
 


