<! html page to confirm the ordering of a primer !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
   <a class="active" href="{% url 'retesting' %}">Primers in Retesting</a>
 </div> 
  <h1>Primer Database</h1><br><br><br>
  <p>Please update location information:<br><br>
  {% for p in location_list %}
    <table class="table" style="table-layout: auto-fit; width: 100%">
    <form action="{% url 'location_updated' %}" method="POST">
      <tr>
        <td>
          <strong>Primer ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ p.name }}
        </td>
        <td>
          <strong>Alt. Name</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ p.alt_name }}
        </td>
        <td> 
          <strong>Direction</strong>:
        </td>
        <td>
          {{ p.direction }}
        </td>
        <td>
          <strong>Imported By</strong>:
        </td>
        <td>
          {{ p.imported_by_id.imported_by }}
        </td>
        <td>
          <strong>Location</strong>
        </td>
        <td>
        <input type="text" name="location" placeholder="{{ p.location }}">
        <input type="hidden" id="primer" name="primer" value="{{ p.id }}">
        </td>
      </table>
    {% endfor %}<br><br>
      <input class=p1 type="submit" value="Submit">
      </form>
{% endblock %}
 


