<!-- html page to display the primers that have been ordered -->

{% extends "base_generic.html" %}

{% block content %}

  <h1>Primer Database: Primers to be Ordered</h1>
  <p> Primer information for primers to be order:<br><br><br><br>
  {% for p in ordered %}
    <table class="table" style="table-layout: auto-fit; width: 100%">
    <form action="{% url 'submit_order' %}" method="POST">
      <tr>
      <tr>
        <td>
          <strong>Primer ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ p.name }}
        </td>
        <td>
          <strong>Requested By</strong>:
        </td>
        <td>
          {{ p.imported_by_id.imported_by }}
        </td>
        <td>
          <strong>Comments:</strong>
        </td>
        <td>
          {{ p.comments }}
        </td>
        <td>
          <input type="checkbox" name="primer" id="primer" value="{{ p.id }}" checked="checked">
        </td>
    </table>
  {% endfor %}<br><br>
      <input class="p1" type="submit" name="csv" value="Download Order Information">
      <input class="p1" type="submit" name="ordered" value="Ordered">
      <input class="p1" onclick="return confirm('Are you sure you wish to delete?');" type="submit" name="delete" value="Delete">
    </form>
{% endblock %}
