<! html page with search results for primer !>

{% extends "base_generic.html" %}

{% block content %}
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a class="active" href="{% url 'index' %}">Search Primers</a>
    <a class="active" href="{% url 'order' %}">Order Primer</a>
    <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
    <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
    <a class="active" href="{% url 'in_testing_sanger' %}">Primers in Testing: Sanger</a>
    <a class="active" href="{% url 'in_testing_non_sanger' %}">Primers in Testing: Non-Sanger</a>
    <a class="active" href="{% url 'failed' %}">Failed Validation</a>
    <a class="active" href="{% url 'retesting' %}">Primers in Retesting</a>
  </div>
</div><br><br> 
  <h1>Primer Database: {{ primer.0.name }}</h1><br><br>
  <p>The following page provides the record of primer {{ primer.0.name }}. To reorder or archive this primer, <strong>select the box</strong> next to the current primer record and use the 'reorder' or 'archive' options at the bottom of the page.</p><br><br>
  {% for p in primer %}  
  <table class="table2" style="table-layout: fixed; width: 100%">
  <form action="{% url 'reorder_archive_primer' %}" method="POST">
        <tr>
          <td>
              <strong>Order Status:</strong>
            <td>
              {{ p.order_status }}
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            {% if p.order_status == 'Stocked' %}
            <input type="checkbox" name="primer" id="primer" value="{{ p.id }}">
            {% endif %}
            </td>
          <tr>
            <td>
            <strong>Analysis</strong>:
          </td>
          <td>
            {{ p.amplicon_id.analysis_type_id.analysis_type }}
          </td>
          <td>
            <strong>Gene</strong>:
          </td>
          <td>
            {{ p.amplicon_id.gene_id.gene_name }}
          </td>
          <td>
            <strong>Chromosome</strong>:
          </td>
          <td>
            {{ p.amplicon_id.gene_id.chromosome }}
          </td>
        <tr>
          <td>
            <strong>Exon</strong>:
          </td>
          <td>
            {{ p.amplicon_id.exon }}
          </td>
          <td>
            <strong>Direction</strong>:
          </td>
          <td>
            {{ p.direction }}
          </td>
          <td>
            <strong>Genomic Start</strong>:
          </td>
          <td>
            {{ p.genomic_location_start }}
          </td>
        <tr>
          <td>
            <strong>Genomic End</strong>:
          </td>
          <td>
            {{ p.genomic_location_end }}
          </td>
          <td>
            <strong>Sequence</strong>:
          </td>
          <td style="word-wrap: break-word">
            {{ p.sequence }}
          </td>
          <td>
            <strong>Location</strong>:
          </td>
          <td>
            {{ p.location }}
          </td>
        <tr>
          <td>
            <strong>Set</strong>:
          </td>
          <td>
            {{ p.amplicon_id.primer_set_id.primer_set }}
          </td>
          <td>
            <strong>NGS Audit Number</strong>:
          </td>
          <td>
            {{ p.ngs_audit_number }}
          </td>
          <td>
            <strong>Imported By</strong>:
          </td>
          <td>
            {{ p.imported_by_id.imported_by }}
          </td>
        <tr>
          <td>
            <strong>Date Imported</strong>:
          </td>
          <td>
            {{ p.date_imported }}
          </td>
          <td>
            <strong>Amplicon Name</strong>:
          </td>
          <td>
            {{ p.amplicon_id.amplicon_name }}
          </td>
          <td>
            <strong>Alternative Name</strong>:
          </td>
          <td>
            {{ p.alt_name }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Version:</strong>
          </td>
          <td>
            {{ p.version }}
          </td>
          {% if p.order_status == "Archived" %}
          <td>
          <strong>Archived By:</strong>
          </td>
          <td>
          {{ p.archived_by_id.imported_by }}
          </td>
          <td>
          <strong>Date Archived:</strong>
          </td>
          <td>
          {{ p.date_archived }}
          </td>
        </tr>
      </table><br>
      <p><strong>Reason Archived: </strong> {{ p.reason_archived }}</p><br>
      {% else %}
        </tr>
      </table><br>
      {% endif %}
      <p><strong>Comments: </strong> {{ p.comments }}</p><br>{% endfor %}
      {% for p in primer %}
      {% if p.order_status == 'Stocked' %}
      <p> To <strong>reorder</strong> or <strong>archive</strong> this primer, please use the drop-down menu to select your name:
    <select name="imp_by" type="text" required=True>
      <option value"">---</option>
      {% for i in imp_by %}
        {% if i.status == "current" %}
          <option value="{{ i.imported_by }}">{{ i.imported_by }}</option>
        {% endif %}
      {% endfor %}</select><br>
    <p> To <strong>reorder</strong> this primer, select reason from drop down and click 'Reorder Primer':<br>
    Reason for Reorder: 
    <select name="reason_reordered" type="text">
      <option value="">---</option>
      <option value="Repeat order">Repeat order</option>
      <option value="New gene / version">New gene / version</option>
      <option value="NGS confirmation">NGS confirmation</option>
      <option value="Scientist - R&D">Scientist - R&D</option>
      <option value="Other">Other</option></select>&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="p1" type="submit" name="reorder" value="Reorder Primer">
     {% endif %}
   {% if p.order_status == 'Stocked' %}
    <p> To <strong>archive</strong> this primer, please add a reason for archiving and then click 'Archive Primer':</p><br>
    Reason for Archiving: <input name="reason_archived" type="text"><br>
    <input class="p1" type="submit" name="archive" value="Archive Primer(s)">
    </form>
    {% endif %}{% endfor %}
{% endblock %}


