<! html page with search results for primer !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
 </div> 
  <h1>Primer Database: {{ primer }}</h1><br><br>  
  <table class="table2" style="table-layout: fixed; width: 100%">
        <tr>
          <td>
              <strong>Order Status:</strong>
            <td>
              {{ primer.order_status }}
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          <tr>
            <td>
            <strong>Analysis</strong>:
          </td>
          <td>
            {{ primer.amplicon_id.analysis_type_id.analysis_type }}
          </td>
          <td>
            <strong>Gene</strong>:
          </td>
          <td>
            {{ primer.amplicon_id.gene_id.gene_name }}
          </td>
          <td>
            <strong>Chromosome</strong>:
          </td>
          <td>
            {{ primer.amplicon_id.gene_id.chromosome }}
          </td>
        <tr>
          <td>
            <strong>Exon</strong>:
          </td>
          <td>
            {{ primer.amplicon_id.exon }}
          </td>
          <td>
            <strong>Direction</strong>:
          </td>
          <td>
            {{ primer.direction }}
          </td>
          <td>
            <strong>Genomic Start</strong>:
          </td>
          <td>
            {{ primer.genomic_location_start }}
          </td>
        <tr>
          <td>
            <strong>Genomic End</strong>:
          </td>
          <td>
            {{ primer.genomic_location_end }}
          </td>
          <td>
            <strong>Sequence</strong>:
          </td>
          <td style="word-wrap: break-word">
            {{ primer.sequence }}
          </td>
          <td>
            <strong>Location</strong>:
          </td>
          <td>
            {{ primer.location }}
          </td>
        <tr>
          <td>
            <strong>Set</strong>:
          </td>
          <td>
            {{ primer.amplicon_id.primer_set_id.primer_set }}
          </td>
          <td>
            <strong>NGS Audit Number</strong>:
          </td>
          <td>
            {{ primer.ngs_audit_number }}
          </td>
          <td>
            <strong>Imported By</strong>:
          </td>
          <td>
            {{ primer.imported_by_id.imported_by }}
          </td>
        <tr>
          <td>
            <strong>Date Imported</strong>:
          </td>
          <td>
            {{ primer.date_imported }}
          </td>
          <td>
            <strong>Amplicon Name</strong>:
          </td>
          <td>
            {{ primer.amplicon_id.amplicon_name }}
          </td>
          <td>
            <strong>Alternative Name</strong>:
          </td>
          <td>
            {{ primer.alt_name }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Version:</strong>
          </td>
          <td>
            {{ primer.version }}
          </td>
          {% if primer.order_status == "Archived" %}
          <td>
          <strong>Archived By:</strong>
          </td>
          <td>
          {{ primer.archived_by_id.imported_by }}
          </td>
          <td>
          <strong>Date Archived:</strong>
          </td>
          <td>
          {{ primer.date_archived }}
          </td>
        </tr>
      </table><br>
      <p><strong>Reason Archived: </strong> {{ primer.reason_archived }}</p><br>
      {% else %}
        </tr>
      </table><br>
      {% endif %}
      <p><strong>Comments: </strong> {{ primer.comments }}</p><br>
      {% if primer.order_status != 'Ordered' %}
      <p> To reorder this primer, please use the drop-down menu to select your initials and then click the 'Reorder Primer' button</p><br>
    <form action="{% url 'reorder_primer' %}" method="POST">  
    <select name="imp_by" type="text">
      {% for i in imp_by %}
        <option value='{{ i.imported_by }}'>{{ i.imported_by }}</option>
      {% endfor %}</select>
    <button name="primer" value="{{ primer.id }}">Reorder Primer</button>
    </form><br>
     {% endif %}
    {% if primer.order_status == 'Stocked' %}
    <p> To archive this primer, please add a reason for archiving and then use the drop-down menu to select your initials before clicking the 'archive primer' button</p><br>
    <form action="{% url 'archive_primer' %}" method="POST">  
    Reason for Archiving: <input name="reason_archived" type="text"><br>
    <select name="arc_by" type="text">
      {% for i in imp_by %}
        <option value='{{ i.imported_by }}'>{{ i.imported_by }}</option>
      {% endfor %}</select>
    <button name="archive" value="{{ primer.id }}">Archive Primer</button>
    </form>
    {% endif %}
{% endblock %}


