<! html page to display the primers that have been ordered !>

{% extends "base_generic.html" %}

{% block content %}
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a class="active" href="{% url 'index' %}">Primer Search and Reorders</a>
    <a class="active" href="{% url 'order' %}">Order New Gene/Version</a>
    <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
    <a class="active" href="{% url 'order_placed' %}">Ordered Primers</a>
    <a class="active" href="{% url 'in_testing_sanger' %}">Primers in Testing: Sanger</a>
    <a class="active" href="{% url 'in_testing_non_sanger' %}">Primers in Testing: Non-Sanger</a>
    <a class="active" href="{% url 'failed' %}">Failed Validation</a>
    <a class="active" href="{% url 'retesting' %}">Retesting</a>
  </div>
</div><br><br> 
  <h1>Primer Database: Retesting</h1>
  <p> Primer information for primers in retesting:<br><br><br><br>
  {% for t in testing %}
    <table class="table" style="table-layout: auto-fit; width: 100%; cellspacing: 20px">
    <form action="{% url 'retested' %}" method="POST">
      <tr>
        <td>
          <strong>Primer ID</strong>:
        </td>
        <td style="word-wrap: break-word">
          {{ t.name }}
        </td>
        <td>
          <strong>Requested By</strong>:
        </td>
        <td>
          {{ t.imported_by_id.imported_by }}
        </td>
        <td>
          <strong>Comments</strong>:
        </td>
        <td>
          {{ t.comments }}
        </td>
        <td>
          <strong>Worksheet</strong>:
        </td>
        <td>
          <input name="worksheet" type="text" value="{{ t.worksheet_number }}"><br>
          <input type="hidden" id="all_primers" name="all_primers" value="{{ t.id }}">
        </td>
        <td>
          <input type="checkbox" name="primer" id="primer" value="{{ t.id }}" checked="checked">
        </td>
    </table>
  {% endfor %}<br><br>   
      <input class="p1" type="submit" name="save" value="Save changes">
      <input class="p1" type="submit" name="validated" value="Validated">
      <input class="p1" type="submit" name="not" value="Discard">
    </form>  
{% endblock %}


