{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Home</a>
 </div> 
  <h1>Primer Database</h1>
  <p>Your search returned {{ num_primers }} primer(s). Click on the Amplicon ID for full information. <br><br></p>
  <table class="table2" order_by = "Genomic Start"  >
    <tr>
      <th>
        Gene
      </th>
      <th>
        Direction
      </th>
      <th>
        Genomic Start
      </th>
      <th>
        Genomic End
      </th>
      <th>
        Amplicon ID
      </th>
    <tr>
      {% for primer in primer_search_results %}
      <td>
        {{ primer.amplicon_id.gene_id.gene_name }}
      </td>
      <td>
        {{ primer.direction }}
      </td>
      <td>
        {{ primer.amplicon_id.genomic_location_start }}
      </td>
      <td>
        {{ primer.amplicon_id.genomic_location_end }}
      </td>
      <td>
        <form id = selected_primer method = get action = {% url 'primer' %} > 
          <input type = "radio" name = "selected_primer" value = "{{ primer.amplicon_id.amplicon_name }}"> {{ primer.amplicon_id.amplicon_name }}
      </td>
    </tr>
    {% endfor %}
  </table><br><br>
         <input type=submit>
       </form>
{% endblock %}


