<! html page with search results for both primer and amplicons including links for more detailed information !>

{% extends "base_generic.html" %}

{% block content %}
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Primers</a>
   <a class="active" href="{% url 'order' %}">Order Primer</a>
   <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
   <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
   <a class="active" href="{% url 'in_testing' %}">Primers in Testing</a>
   <a class="active" href="{% url 'failed' %}">Failed Validation</a>
   <a class="active" href="{% url 'retesting' %}">Primers in Retesting</a>
 </div> 
  <h1>Primer Database: Search Results</h1>
  <p>Your search returned <strong>{{ num_primers }}</strong> primer(s). Click on either the Primer or Amplicon ID for full information about individual primers or primer sets respectively. <br><br></p>
  <table class="table2" style="table-layout: fixed; width: 100%">
    <tr>
      <th>
        Primer ID
      </th>
      <th>
        Amplicon ID
      </th>
      <th>
        Alt. Name
      </th>
      <th>
        Direction
      </th>
      <th>
        Imported By
      </th>
      <th>
        Location
      </th>
      <th>
        Comments
      </th>
      {% for primer in primer_search_results %}
    <tr>
      <td>
        <form class="search" id = selected_primer method = get action = {% url 'primer' %} > 
          <input type = "submit" default = None name = "selected_primer" value = "{{ primer.name }}" white-space: normal; word-wrap: break-word; width: 100%> 
        </form>
      </td>
      <td>
        <form class="search" id = selected_amplicon method = get action = {% url 'amplicon' %} >
          <input type = "submit" default = None name = "selected_amplicon" value = "{{ primer.amplicon_id.amplicon_name }}" white-space: normal; word-wrap: break-word; width: 100%>
        </form>
      </td>
      <td>
        {{ primer.alt_name }}
      </td>
      <td>
        {{ primer.direction }}
      </td>
      <td>
        {{ primer.imported_by_id.imported_by }}
      </td>
      <td>
        {{ primer.location }}
      </td>
      <td>
        {{ primer.comments }}
      </td>
    </tr>
    {% endfor %}
  </table><br><br>
{% endblock %}



         
         



