<! html page to confirm the ordering of a primer to an existing amplicon !>

{% extends "base_generic.html" %}

{% block content %}
<div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a class="active" href="{% url 'index' %}">Search Primers</a>
    <a class="active" href="{% url 'order' %}">Order Primer</a>
    <a class="active" href="{% url 'ordered' %}">Primers to be Ordered</a>
    <a class="active" href="{% url 'order_placed' %}">Primers on Order</a>
    <a class="active" href="{% url 'in_testing_sanger' %}">Primers in Testing: Sanger</a>
    <a class="active" href="{% url 'in_testing_non_sanger' %}">Primers in Testing: Non-Sanger</a>
    <a class="active" href="{% url 'failed' %}">Failed Validation</a>
    <a class="active" href="{% url 'retesting' %}">Primers in Retesting</a>
  </div>
</div><br><br> 
  <h1>Primer Database</h1><br><br><br>
  <p><strong> Thank you for submitting a Primer for amplicon {% for a in amp %}{{ a.amplicon_name }}{% endfor %}. </strong></p><br>
{% endblock %}
 


