/*The css file provides the base design and formatting of the html pages. */

body {
  background-color: #f4f4f4;
  font-family: helvetica;
  text-align: center;
  color: #2c2c2c;
  margin: 60px 30px 60px 30px;

}

/*dropdown button*/
.dropbtn {
	background-color: #f4f4f4;
	color:#062f4f;
	padding: 16px;
	font-size: 16px;
}

/*the container <div> - needed to position the dropdown content*/
.dropdown {
	position: relative;
	display: inline-block;
	float: right;
	padding:16px;
}

/*dropdown content*/
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/*links inside the dropdown*/
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/*change color of dropdown links on hover*/
.dropdown-content a:hover {
	background-color: #ddd;
}

/*show the dropdown menu on hover*/
.dropdown:hover .dropdown-content {
	display:block;
}

/*change the background color of the dropdown button when the dropdown content in shown*/
.dropdown:hover .dropbtn {
	background-color: #8c8c8c;
}

.topnav {
	overflow: hidden;
	padding: 15px;
	text-align: right;
	width: 100%;
}

.topnav a {
	color: #2c2c2c;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

h1 {
	width: 100%;
	background-color: #062f4f;
	color: white;
	padding: 10px 20px 10px 20px;
	text-align: left;
}

p {
	padding: 20px 5px 5px 5px;
}

p2 {
	text-align: left;
}

table {
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

td {
	padding: 10px 10px 10px 5px;
	width: 100%;
	word-wrap: break-word;
}

form {
	text-align: center;
	width: 100%
}

input.p1 {
	width: auto
}

table.table2 {
	table-layout: fixed;
	text-align: left;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table.table2 td {
	padding: 10px 10px 10px 5px;
	width: fixed;
	word-wrap: break-word;
}

table.table2 tr:nth-child(even) {
  background-color: #dddddd;
}


form.search {
	text-align: left;
	width:80%
}

input {
	width: 100%;
	word-wrap: break-word;
	white-space: normal;
}
.btn.btn-success{
  width: auto;
}
.btn.btn-danger{
  width: auto;
}

